<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="content" id="patients-content">
        <h2>Patient Details</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>hospital</th>
                    <th>email id</th>
                    <th>phone number</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
               {{#each items}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.hospital}}</td>
                <td>{{this.patient_email}}</td>
                <td>{{this.patient_phone}}</td>
                <td>{{this.date}}</td>
            </tr>
        {{/each}}

            </tbody>
        </table>
        </div>
</body>
</html>